.TreeRow {
  cursor: default;
}

.TreeRow.TreeRow--level0:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.TreeRow__line {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.TreeRow__line:hover {
  background-color: rgba(33, 150, 243, 0.4);
}

.TreeRow__icon.TreeRow__icon--hidden {
  visibility: hidden;
}

.TreeRow__label {
  padding: 0 0.5rem;
}

.TreeRow__children {
  margin-left: 2rem;
}
